
<div class="top-row ps-3 navbar navbar-light">
@using Microsoft.AspNetCore.Components.Authorization

    <div class="container-fluid">
        <img src="/Images/FFLOGO.png" alt="" width="55" height="48" class="d-inline-block align-text-top">
        <a class="navbar-brand" href="">Furever Friends</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" >
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="/animalshelters/search" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Shelters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Events
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="success-stories" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Success Stories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dogs/search" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dogs
            </NavLink>
        </div>
        <AuthorizeView Roles="ShelterEmployee">
            <Authorized>
                <div class="nav-item px-3">
                <NavLink class="nav-link" href="/applications/review" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage/Review Shelter Applications
                </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/my-applications" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> My Applications
                </NavLink>
            </div>
            <div class="nav-item px-3">
               <NavLink class="nav-link" href="/messages" Match="NavLinkMatch.All">
                  <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Messages
              </NavLink>
            </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/users" Match="NavLinkMatch.All">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Users
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/addresses" Match="NavLinkMatch.All">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Addresses
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/all-applications" Match="NavLinkMatch.All">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage All Applications
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>




