@page "/messages/edit"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using FinalProjectGroup6.Models
@inject IDbContextFactory<FinalProjectGroup6.Data.FinalProjectGroup6Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Message</h2>
<hr />
@if (Message is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Message" OnValidSubmit="UpdateMessage" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Message.Id" value="@Message.Id" />
                <div class="mb-3">
                    <label for="usersentfrom" class="form-label">UserSentFrom:</label>
                    <InputNumber id="usersentfrom" @bind-Value="Message.UserSentFrom" class="form-control" />
                    <ValidationMessage For="() => Message.UserSentFrom" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="usersentto" class="form-label">UserSentTo:</label>
                    <InputNumber id="usersentto" @bind-Value="Message.UserSentTo" class="form-control" />
                    <ValidationMessage For="() => Message.UserSentTo" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="timestamp" class="form-label">Timestamp:</label>
                    <InputDate id="timestamp" @bind-Value="Message.Timestamp" class="form-control" />
                    <ValidationMessage For="() => Message.Timestamp" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject:</label>
                    <InputText id="subject" @bind-Value="Message.Subject" class="form-control" />
                    <ValidationMessage For="() => Message.Subject" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Body:</label>
                    <InputText id="body" @bind-Value="Message.Body" class="form-control" />
                    <ValidationMessage For="() => Message.Body" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/messages">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Message? Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Message ??= await context.Message.FirstOrDefaultAsync(m => m.Id == Id);

        if (Message is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMessage()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Message!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MessageExists(Message!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/messages");
    }

    private bool MessageExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Message.Any(e => e.Id == id);
    }
}
