@page "/message-us"

<h3>Message Us</h3>
<p>Need to send us a message? Type your email address and message below, and we'll reply as soon as we can! Please allow up to 48 business hours for a reply.</p>
<br />
<br />
<!-- Email Input -->
<div>
    <!-- Label and input field for email -->
    <label for="messageemail">Email:</label>
    <input type="text" id="messageemail" placeholder="Enter email..." />
</div>
<br />

<!-- Message Input -->
<div>
    <!-- Label and input field for message -->
    <label for="messagebox">Message:</label>
    <input type="text" id="messagebox" placeholder="Enter message..." />
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Send Message</button>
</div>
@code {
    
}
