@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<div class="container-fluid text-center">
<h1>Furever Friends</h1>
<p>Find your new best friend today!</p>
<img class="img-responsive active" src="/Images/background.jpg" alt="Background">
</div>
<br />
<div class="text-center">
     <a href="@("/dogs/search")" class="btn btn-primary">Search Dogs</a>
     <a>     </a>
    <a href="@("/animalshelters/search")" class="btn btn-primary">Search Shelters</a>
</div>
<br />
<br />
<div class="container">
    <h2>About Us</h2>
    <p>
        At Furever Friends, we connect animal shelters with those who wish to adopt lifelong friends. 
        We provide a place to search for dogs and shelters, apply for adoption, track applications, and contact shelter representatives all in one location.
    </p>
    <p>
        We make sure that each adopter is a good match for their new dog, and as such, we have some requirements about who is able to adopt the dogs on our website. 
        Read more below to learn about these requirements and other frequently asked questions.
    </p>
</div>
<br />
<br />
<div class="container">
    <h2>Frequently Asked Questions</h2>
    <p>
        Q: What requirements are there to adopt a dog?<br />
        A: To adopt a dog, you must:<br />
        <span style="padding-left: 20px;">•	Have a registered Furever Friends account</span><br />
        <span style="padding-left: 20px;">•	Be over the age of 18</span><br />
        <span style="padding-left: 20px;">•	Currently own less than 5 pets</span><br />
        <span style="padding-left: 20px;">•	Be able to provide consistent veterinary care for the dog</span><br />
        <span style="padding-left: 20px;">•	Fill out, and have approved, an adoption application</span><br />
    </p>
    <p>
        Q: How can I fill out an application?<br />
        A: Simply find the dog you’d like to apply to adopt, and click “Adopt” on their profile.
    </p>
    <p>
        Q: How can I see the status of my application?<br />
        A: Make sure you are logged in, then select the "My Applications" tab. There you can view the status of your application as well as the review date if it has already been reviewed.
    </p>

    <p>
        Q: If I have a question about my application, who do I contact and how?<br />
        A: To contact a shelter representative regarding your application, make sure you are logged in and select "Contact" under the correct shelter's page. To view your messages and reply to past messages, select the "Messages" tab.
    </p>

    <p>
        Q: How long does it typically take for an application to be reviewed?<br />
        A: Each shelter is different, but applications are generally reviewed within 5 business days of being submitted.
    </p>

    <p>
        Q: I just submitted my application, so why does it immediately say it is Rejected?<br />
        A: There are some instances where an application is immediately rejected upon submission. If you already have 5 or more pets or are unable to provide consistent veterinary care, your application will be automatically rejected.
    </p>
</div>
<br />
<br />
<div class="container">
    <h2>Adoption Policies</h2>
    <p>
        The following policies are in place to protect the safety of both the dogs avalable on our site and the customers using our site. They are not subject to change, and all policies are enforced for all users.
    </p>
    <p>
        To make an account and apply to adopt a dog, the following conditions must be met:
        1.	Must be over the age of 18<br />
        2.	Must have a valid email and street address<br />
        3.	Must currently own less than 5 pets<br />
        4.	Must be able to provide consistent veterinary care for the dog<br />
        5.	Must fill out, and have approved, a dog adoption application<br />
    </p>
    
</div>
<br />
<br />
<div class="container">
    <h2>Contact Us</h2>
    <p>
        <AuthorizeView>
            <Authorized>
                <a href="@("/messages")" class="btn btn-primary">Send a Message</a>
            </Authorized>
            <NotAuthorized>
                <a href="@("/login")" class="btn btn-secondary">Login to Send a Message</a>
            </NotAuthorized>
        </AuthorizeView>
        <br /><br />
        Or
        <br /><br />
        Contact us by email: realemail@fureverfriends.com<br />
        Contact us by phone: (123) 456-7890
    </p>
</div>
