@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
<h1>Furever Friends</h1>
<p>Find your new best friend today!</p>
</div>
<div class="text-center">
     <a href="@("/dogs/search")" class="btn btn-primary">Search Dogs</a>
     <a>     </a>
    <a href="@("/animalshelters/search")" class="btn btn-primary">Search Shelters</a>
    <a>     </a>
    <a href="@("/message-us")" class="btn btn-primary">Message Us</a>
    <a>     </a>
</div>
<br />
<br />
<div class="container">
    <h2>About Us</h2>
    <p>
        At Furever Friends, we connect animal shelters with those who wish to adopt lifelong friends. 
        We provide a place to search for dogs and shelters, apply for adoption, track applications, and contact shelter representatives all in one location.
    </p>
    <p>
        We make sure that each adopter is a good match for their new dog, and as such, we have some requirements about who is able to adopt the dogs on our website. 
        Read more below to learn about these requirements and other frequently asked questions.
    </p>
</div>
<br />
<br />
<div class="container">
    <h2>Frequently Asked Questions</h2>
    <p>
        Q: What requirements are there to adopt a dog?<br />
        A: To adopt a dog, you must:<br />
            •	Have a registered Furever Friends account<br />
            •	Be over the age of 18<br />
            •	Currently own less than 5 pets<br />
            •	Be able to provide consistent veterinary care for the dog<br />
            •	Fill out, and have approved, a dog application<br />
    </p>
    <p>
        Q: How can I fill out an application?<br />
        A: Simply find the dog you’d like to apply to adopt, and click “Adopt” on their profile.
    </p>
    <p>
        Q: How can I see the status of my application?<br />
        A: You can view the status of all current and past applications through your profile. Select the icon at the top right corner of the website, and make sure you’ve logged into your account, which can also be done by selecting this icon.
    </p>
    <p>
        Q: How long does it typically take for an application to be reviewed?<br />
        A: Each shelter is different, but applications are generally reviewed within 5 business days of being submitted.
    </p>
</div>
<br />
<br />
<div class="container">
    <h2>Contact Us</h2>
    <br />
    <a href="@("/message-us")" class="btn btn-primary">Send a Message</a>
    <br />
    <p>Or</p>
    <p>Contact us by email: realemail@fureverfriends.com</p>
    <p>Contact us by phone: (123) 456-7890</p>
</div>